SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="b1c0", MODE="0666"
ACTION=="add|change", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="b1c0", TAG+="uaccess"
